<ul class="text-center py-10 text-lg">
	{%- for item in collections.pages -%}
		{% if page.url != item.url %}
		<li class="text-2xl">
			<a href="{{ item.url }}">{{ item.data.title }}</a>
		</li>
		{% endif %}
	{%- endfor -%}
</ul>